
.cardlist{
    min-width: 300px;
    height: auto;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgb(111, 112, 187);
}
.Card-container{
    display: flex;
    flex-direction: column;
    gap: 2px;
    align-items: center;
    padding: 5px 2px;
}

.cardlist h2{
    background-color: rgb(215, 214, 212);
    width: 100%;
    text-align: center;
    padding: 10px;
}

.card-add-btn{
    padding: 8px 1rem;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.card-add-btn:hover{
    background-color: rgb(218, 218, 218);
}

.textField{
    display: flex;
    gap: 10px;
    align-items: center;
}

.textField textarea{
    outline: none;
    padding: 5px;
    font-size: 16px;
}
.textField textarea:focus{
    outline: 1px solid rgb(208, 137, 61);
}
.btns{
    display: flex;
    gap: 5px;
}

.btns button{
    cursor: pointer;
    padding: 2px;
    color: rgb(253, 53, 53);
    border: none;
    font-size: 20px;
    background-color: transparent;
}

.btns button:first-child{
    color: rgb(132, 255, 0);
}

.btns button:hover{
    color:cadetblue;
}
