*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  min-width: 100vh;
  background-color: rgb(237, 228, 246);
}

.cardList-container{
  display: flex;
  padding: 1rem;
  gap: 1rem;
  justify-content: center;
  /* align-items: center; */
  width: 100vw;
  /* min-height: 100vh; */
  flex-wrap: wrap;
}